<!doctype html>
<html>
   <head>
      <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='list.css')}}">
  </head>
   <body>
     {{ msg }}
      <div id="navbar1">
         <nav>
             <ul>
                 <li><a href="home.html">Home</a></li>
                 <li><a href="student.html">Enroll</a></li>
                 <li><a href="list.html">Lists</a></li>
             </ul>
         </nav>
                  </div>
     <div class="content1">
         <h1>lists</h1>
         <p>Showing all who have enroled</p>
     </div>
     <div class="banner1">
     </div>
     <div id="manuBtn">
        <img src="{{ checken }}" alt="User Image">
     </div>

     <section id="feature">
         <div class="feature-box">
             <div class="features">
                 <h1>list</h1>
             </div>
         </div>
         </section>

     <script>
         var manuBtn = document.getElementById("manuBtn")
         var navbar = document.getElementById("navbar1")
         var menu = document.getElementById("menu")

         manuBtn.onclick = function(){
             if(navbar.style.right == "-250px"){
                 navbar.style.right = "0";
                 menu.src = "close.png";
             }
             else{
                 navbar.style.right = "-250px";
                 menu.src = "menu.png";
             }
         }
     </script>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Address>/td<
            <td>city</td>
            <td>Pincode</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{ row["city"]}}</td>
               <td>{{row['pin']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>
